[submodule "gcc-os2"]
	path = gcc-os2
	url = https://github.com/bitwiseworks/gcc-os2.git
	branch = master
[submodule "libc"]
	path = libc
	url = https://github.com/bitwiseworks/libc.git
	branch = master
[submodule "cmake-os2"]
	path = cmake-os2
	url = https://github.com/bitwiseworks/cmake-os2.git
	branch = master
[submodule "binutils-os2-bww"]
	path = binutils-os2-bww
	url = https://github.com/bitwiseworks/binutils-os2.git
[submodule "binutils-os2"]
	path = binutils-os2
	url = https://github.com/psmedley/binutils-os2.git
	branch = 2.44
	shallow = true
