*.o
*.obj
*.a
*.lib
*.res
*.map
*.sym
*.dll
*.exe
!autotools
dll/*.def
pm/*.def
autotools/*.git
cmake/*.git
meson/*.git
kdllar/kdllar
kdllar/kld-aout-dll
kdllar/kld-aout-exe
kdllar/kld-omf-dll
kdllar/kld-omf-exe
